html {
font-family: 'Times New Roman', Times, serif;
background-color: #FFFDD0;
color: brown;
}

body {
 background-image: url("background-img.JPG");
}

.bg-dark {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #FFFDD0;
   height: 100vh;
}

h1, form, #results {
 display: block;
 text-align: center;
 border: 1px solid #654321;
}

form, #results {
 margin: 0 100px;
 display: flex;
 justify-content: space-between;
 width: 100%;
}

h5, h1 {
 font-size: 60px;
}

label, input, button {
 display: table-cell;
 padding: 10px;
}

input {
 line-height: 1.5em;
 height: 3em; 
 overflow: hidden;
 border-radius: 25px;
}

#results {
 background-color: #FFFDD0;
 padding: 20px; 
 border: 1px solid #654321;
}
